body {
	font-size: 14px;
	font-family: Helvetica, sans-serif;
	color: white;
}

table {
	border-spacing: 10px;
	border: 0px;
	padding: 0px;
	width: 1px;
}

#weather-table, #weather-location-name{
	padding-top: 10px;
	padding-left: 0px;
	width: 100%;
}

#weather-icon {
	width: 100px;
	height: 100px;
	padding-right: 0px;
}

#weather-temp {
	text-align: left;
	font-size: 30px;
	width: 1px;
	color: rgb(214, 228, 26);
}

#weather-temp-sign {
	vertical-align: top;
	text-align: left;
	padding-top: 11px;
	border: 10px;
	font-size: 24px;
	color: rgb(228, 26, 60);
}

#weather-table-details {
	font-size: 14px;
	text-align: left;
}

#weather-table-details td {
	white-space: nowrap;
}

#weather-forecast-table img {
	width: 80px;
	height:70px;
	padding-left: 0px;

}

#weather-forecast-table td {
  text-align: center;
  vertical-align: text-top;
  font-size: 15px;
}

#weather-forecast-table .temp-max {
	font-size: 18px;
	color: red;
}

#weather-forecast-table .temp-min {
	font-size: 18px;
	color: white;
}