############################## openHAB Cloud Connector #############################

# The URL of the openHAB Cloud service to connect to.
# Optional, default is set to the service offered by the openHAB Foundation
# (https://myopenhab.org/)
#baseURL=

# Defines the mode in which you want to operate the connector.
# Possible values are:
# - notification: Only push notifications are enabled, no remote access is allowed.
# - remote: Push notifications and remote access are enabled.
# Optional, default is 'remote'.
mode=remote

# A comma-separated list of items to be exposed to external services like IFTTT. 
# Events of those items are pushed to the openHAB Cloud and commands received for
# these items from the openHAB Cloud service are accepted and sent to the local bus.
# Optional, default is an empty list.
#expose=SwitchBinary1_LuceLatoPorta_Cameretta_ZW18, SwitchDimmer_Luce_Corridoio_ZW20, SwitchBinary2_TV_Salone_ZW22, Prodino0_out1, OffSetTemperature3_DS1820_Cameretta_ZW17, SensorTemperature_MotionSensor_Studio_ZW10, SwitchBinary1_Luce_Portone_ZW13, SwitchBinary1_Serranda_Garage_ZW15, SensorTemperature3_DS1820_Garage_ZW16, Proxy_prodino_temp, Owcm3homeNumber, SwitchBinary1_AlberoNatale_Salone_ZW22, StudioLuce, SwitchBinary2_LumettiLatoPorta_Cameretta_ZW18, BlindsControl_Pergotenda_Giardino_ZW24